@import 'tailwindcss';

@theme {
  --color-blue-950: #112749;
  --color-blue-gray: #293d5b;
}

@layer components {
  .button-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white rounded-xl font-medium transition-colors py-2 px-3 text-lg;
  }
  .button-secondary-dark {
    @apply bg-blue-gray hover:bg-blue-900 text-white rounded-xl font-medium transition-colors py-2 px-3 text-lg;
  }
}
body {
  margin: 0;
  font-family:
    'Inter',
    ui-sans-serif,
    system-ui,
    -apple-system,
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    'Arial',
    'Noto Sans',
    sans-serif,
    'SFProLocalRange';
}
