name: Deploy SDK reference implementation to S3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-deploy:
    name: Build and deploy
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'

      - name: Install dependencies
        run: npm install

      - name: Build Demo Website
        run: npm run build

      - name: Configure AWS credentials
        if: github.ref_name == 'main' && github.event_name == 'push'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION || 'us-east-1' }}

      - name: Deploy to S3
        if: github.ref_name == 'main' && github.event_name == 'push'
        run: |
          aws s3 sync dist/ s3://${{ secrets.S3_MOCK_WEBSITE_BUCKET_NAME }} --delete
          echo "application deployed to S3 bucket: ${{ secrets.S3_MOCK_WEBSITE_BUCKET_NAME }}"
